.sidebar {
  display: none;
  flex-direction: column;
  background-color: #13131d;
  width: 250px;
  min-height: 100vh;
  overflow: hidden;
  transition: ease-in 2s;
  z-index: 3;
}
.sidebarexpand {
  display: none;
  transition: 2s;
}
.logo {
  border-bottom: 1px grey solid;
  padding-bottom: 24px;
}
.list {
  list-style-type: none;
  text-align: start;
}
.list li {
  margin-top: 20px;
  border-bottom: 1px grey solid;
}
.icon {
  position: absolute;
  top: 1px;
  right: 5px;
  color: #acacac;
}
.sidebarwrapper {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #606f7746;
  z-index: 2;
}
@media screen and (max-width: 960px) {
  .sidebarwrapper {
    display: block;
  }
  .sidebar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .logo {
    padding: 22px;
  }
}
@media screen and (max-width: 700px) {
  .logo {
    padding: 41px;
  }
}
