.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 40px;
}
.slider2{
width: 80%;

}
.text {
  color: white;
}
.text {
  color: white;
}
